<head>
	<script src="scripts/lib/angular.min.js"></script>
	<script src="scripts/lib/jquery-1.11.1.min.js"></script>
	<script src="scripts/lib/angular-route.min.js"></script>
	<script src="scripts/lib/bootstrap.min.js"></script>
	<script src="scripts/main.js"></script>
	<script src="scripts/angular-ab-test.js"></script>
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<title>Angular A/B Test</title>
</head>
<body ng-app="mainApp">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Angular A/B Test</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse" ng-controller="HeaderController">
				<ul class="nav navbar-nav">
					<li ng-class="{ active: isActive('/example')}"><a href="#/example">Example</a></li>
					<li ng-class="{ active: isActive('/documentation')}"><a href="#/documentation">Documentation</a></li>
				</ul>
			</div>
			<a href="https://github.com/EricFreeman/angular-ab-test"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
		</div>
	</nav>
	<div class="container">
		<ng-view>Loading...</ng-view>

		<script type="text/ng-template" id="example.html">
			<div ng-init="load()">
				<h1 class="page-header">Example</h1>

				<div class="alert alert-info">If this is your first time here, you've automatically been placed into the 'a' variation for the experiment.  This would normally be set by Optimizely or SiteSpect or whatever other A/B testing framework your business people have decided to use.</div>

				<div class="page-header">
					<button type="button" class="btn" ng-click="switchVariant('a')">Variant A</button>
					<button type="button" class="btn" ng-click="switchVariant('b')">Variant B</button>
				</div>

				<experiment name="sample-test" variant="a" isdefault="true">
					<p>a variation</p>
					<button type="button" class="btn btn-default">
						<span>Some lame-ass button</span>
					</button>
					<p>This button is boring as shit and I'd be completely surprised if anybody even clicked it.</p>
				</experiment>
				<experiment name="sample-test" variant="b">
					<p>b variation</p>
					<button type="button" class="btn btn-primary btn-lg">
						<span>Holy shit, what a sick button</span>
					</button>
					<p>I don't even need an a/b test to know this button is killing it.</p>
				</experiment>
			</div>
		</script>

		<script type="text/ng-template" id="documentation.html">
			<h1 class="page-header">Documentation</h1>

			<p>Simple A/B testing directive because Optimizely is pretty rough at working with AngularJS projects.</p>

			<h4 class="page-header">In Optimizely, SiteSpect<small>, or whatever else you're using I'm sure it'll probably work...</small></h4>

			<p>Setup tests by calling handy helper methods like <code>window.addTest(testName, variant)</code> or <code>window.updateTest(testName, variant)</code>.</p>

			<h4 class="page-header">In your code base</h4>

			<p>Add your <code>&lt;experiment&gt;</code> tags like so:</p>
			
			<pre>
&lt;experiment name="sample-test" variant="a" isdefault="true"&gt;
  &lt;p&gt;first stuff&lt;/p&gt;
&lt;/experiment&gt;
&lt;experiment name="sample-test" variant="b"&gt;
  &lt;p&gt;second stuff&lt;/p&gt;
&lt;/experiment&gt;
&lt;experiment name="sample-test" variant="c"&gt;
  &lt;p&gt;other stuff&lt;/p&gt;
&lt;/experiment&gt;
</pre>

			<p>It will show the first experiment if there's a value for `abtests` in your localStorage that happens to look like this: <code>[{"name":"sample-test","value":"a"}]</code> or it will show the second one if the value is 'b', and so on and so forth.</p>

			<h4 class="page-header">Default experiment</h4>
			<p>In case you want to release code before setting up the experiment, just set <code>isdefault="true"</code> on the experiment you want to show up if there's no entry for the test in localStorage.</p>
		</script>
	</div>
</body>
